@import "../../config/_colors.scss";
@import "../../config/_sizes.scss";
@import "../../config/_variables.scss";
@import "../../config/_mixins.scss";


.explore {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $max-card-width;
  margin: 0 auto;
  align-items: center;
  background-color: white;
  @include boxBorder(yes);
}