@import "../../config/_colors.scss";
@import "../../config/_sizes.scss";
@import "../../config/_variables.scss";

.footer{
    max-width: $max-page-width;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    .column {
      .nav {
        .list{
          display: flex;
          .list-item {
            margin-right: 10px;
            color: $dark-blue;
        }
      }
    }
    .copyright{
      color: $dark-grey;

        }
    }
}

