@import "../../config/_colors.scss";
@import "../../config/_sizes.scss";
@import "../../config/_variables.scss";
@import "../../config/_mixins.scss";

.feed-photo {
  @include boxBorder(yes);
  width: 100%;
  max-width: $max-card-width;
  margin-bottom: 60px;
  &:last-child {
    margin-bottom: 0;
  }
}